*~
.idea
*.log
sourcepack
.DS_Store
*.out
*.project
*.log
*.pydevproject
*.settings
log
data
output

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
*.py~
*.sh~

#java:
*.class
*.classpath
*.project
target
*.iml
out

# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

#c++
camke-build-debug
*.xcodeproj/
.ipynb_checkpoints
venv

